

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 /* Global Elements */
 /*body {
 	font-family: 'Montserrat', sans-serif;
 } */ 


 /* Containers ========================================== */
/* Main container */

.carousel-caption h1 {
	text-shadow: 2px 3px 0px #000000;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}

.carousel-caption p {
	text-shadow: 2px 3px 0px #000000;
	font-family: 'Arvo', sans-serif;
}

.carousel-button {
	/*
	background:#000;
	color: #F58625;
	*/
	background: #F58625;
	color: #000;
	
	padding: 10px 16px;
	font-size: 18px;	
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	-o-transition:.4s ease-in-out;
	-ms-transition:.4s ease-in-out;
	-moz-transition:.4s ease-in-out;
	-webkit-transition:.4s ease-in-out;
	transition:.4s ease-in-out;
}

.carousel-button:hover {
	background:#000;
	color: #F58625;
	/*
	background: #F58625;
	color: #000;
	*/
	text-decoration:none;
	-o-transition:.4s ease-in-out;
	-ms-transition:.4s ease-in-out;
	-moz-transition:.4s ease-in-out;
	-webkit-transition:.4s ease-in-out;
	transition:.4s ease-in-out;
}

.darken {
	-webkit-filter: brightness(50%);
	-o-filter: brightness(50%);
	-moz-filter: brightness(50%);
}

 .container {
	padding-right:15px;
	padding-left:15px;
	/*margin-right:auto;
	margin-left:auto*/
}
.container:before,.container:after {
	display:table;
	content:" "
}
.container:after {
	clear:both
}
.container:before,.container:after {
	display:table;
	content:" "
}
.container:after {
	clear:both
}
/* Sub container */
.row {
	margin-right:0px;
	margin-left:0px;
}
.row:before,.row:after {
	display:table;
	content:" "
}
.row:after {
	clear:both
}
.row-head { /* Navbar container */
	margin-right:0px;
	margin-left:0px;
	margin-bottom: 0%;
}
.row-head:before,.row-head:after {
	display:table;
	content:" "
}
.row-head:after {
	clear:both
}

.row-fp { /* foodporn */
	margin-right:0px;
	margin-left:0px;
	margin-bottom: 2.5%
}
.row-fp:before,.row-fp:after {
	display:table;
	content:" "
}
.row-fp:after {
	clear:both
}
.row-fp-head { /* Navbar container */
	margin-right:0px;
	margin-left:0px;
	margin-bottom: 1%;
}
.row-fp-head:before,.row-fp-head:after {
	display:table;
	content:" "
}
.row-fp-head:after {
	clear:both
}

.col-md-3{
	position:relative;
	min-height:1px;
	padding: 0px;

}

.col-lg-8.fp-desc{
	padding-right:0px;
	padding-left:0px
}

.col-lg-3.fp-droll{
	text-align: middle;
	padding-right:30%;
	padding-top: 1%
}


/* Responsiveness */
@media(min-width:768px) {
	.container {
		max-width:64%;
	}
}
@media(min-width:992px) {
	.container {
		max-width:79%;
	}
}
@media(min-width:1200px) {
	.container {
		max-width:85%;
	}
}

.well1 {
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}



.well1 blockquote {
	border-color:#ddd;
	border-color:rgba(0,0,0,0.15)
}
.well1-lg {
	padding:24px;
	border-radius:6px
}
.well1-sm {
	padding:9px;
	border-radius:3px
}
.well1 {
	background-image:-webkit-gradient(linear,left 0,left 100%,from(#e8e8e8),to(#f5f5f5));
	background-image:-webkit-linear-gradient(top,#e8e8e8,0%,#f5f5f5,100%);
	background-image:-moz-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
	background-image:linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
	background-repeat:repeat-x;
	border-color:#dcdcdc;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1)
}
.well-re { /* Recipe Page */
	min-height:20px;
	padding:17px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
.well-re blockquote {
	border-color:#ddd;
	border-color:rgba(0,0,0,0.15)
}
.well-re-lg {
	padding:24px;
	border-radius:6px
}
.well-re-sm {
	padding:9px;
	border-radius:3px
}
.well-re {
	background-image:-webkit-gradient(linear,left 0,left 100%,from(#e8e8e8),to(#f5f5f5));
	background-image:-webkit-linear-gradient(top,#e8e8e8,0%,#f5f5f5,100%);
	background-image:-moz-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
	background-image:linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
	background-repeat:repeat-x;
	border-color:#dcdcdc;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1)
}

.well-blank {
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
}

.well-blank h2{
	font-size:24px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing:1px;
	display:inline;
}

.well-blank .title-ital {
	font-family: 'Arvo', sans-serif;
	display:inline;
	font-size:22px;
	font-style: italic;
}

/* NEW Navbar =========================================*/
.newnavbar {	
	position:relative;
	z-index:1000;
	min-height:50px;
	margin-bottom:0px;
	border:1px solid transparent;
	height:auto;
	margin-bottom:20px;
}
.newnavi {
	padding:0px;
}

.newnav {
	width: 25%;
	float: left;
	position:relative;
	line-height: 50px;
	display:inline-block;
	letter-spacing:2px;

}

.newnavlink{
	position: relative;
	display: block;
	padding: 10px 15px;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	font-weight:700;
	text-decoration:none;
	color:#000;
	-o-transition:.4s ease-in-out;
	-ms-transition:.4s ease-in-out;
	-moz-transition:.4s ease-in-out;
	-webkit-transition:.4s ease-in-out;
	transition:.4s ease-in-out;

}

.newnavlink:hover{
	color:#F58728;
	text-decoration:none;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	transition:.5s ease-in-out;
}



/* Navbar =============================================*/
.navbar {
	position:relative;
	z-index:1000;
	min-height:50px;
	margin-bottom:0px;
	border:1px solid transparent
}
.navbar:before,.navbar:after {
	display:table;
	content:" "
}
.navbar:after {
	clear:both
}
.navbar:before,.navbar:after {
	display:table;
	content:" "
}
.navbar:after {
	clear:both
}
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 25%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

 /* HTML Elements ===================================== */
/* Alignments */
.col-md-6.middle{
	text-align: center;
	display: table;
}	
.col-md-6.linespacing{
	line-height: 35px;
	padding-top:40px;
}
.col-md-3.right{
	text-align: right;
	display: table;
	padding-top:40px;
	padding-right:40px;
}

.col-lg-6.left{
	padding-right:0px;
	padding-left:3%
}

.col-lg-6.right{
	padding-right:3%;
	padding-left:0px
}

.col-lg-4.left{
	text-align: left;
	padding-right:0px;
	padding-left:0px
}

.col-lg-4.right{
	text-align: right;
	padding-right:0px;
	padding-left:0px
}


/* Breadcrumbs */
.breadcrumb {
	font-size: 15px;
}
 
 /* Clear */
.clear{
	clear: both;
}

/* Footer */
footer {
	margin-top: 0px;
	font-size: 14px;
}
.footer-content {
	font-family: 'Arvo', serif;

}
.footer-content ul {
	margin: 0;
	padding: 0
}
.footer-content ul li{
	display: inline-block;
	list-style: none outside none;
	padding-right: 1%
}
.divider li:before {
	content: " | ";
}
.divider li:first-child:before {
	content:none;
}

.footerlink{
	color:#5a5a5a;
}

.footerlink:hover{
	text-decoration:none;

}

/* Images */
.img-nav { /* Nav */
	display:inline-block;
	max-height:100%;
	max-width:100%;
	/*padding:4px;*/
	/*line-height:1.428571429;*/
	background-color:#fff;
	/*border:1px solid #ddd;*/
	/*border-radius:4px;*/
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin-bottom: 2%;
}

.img-nav:hover {
	opacity:0.6;
	transition:all 0.2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
}
.img-re { /* Recipe */
	display:inline-block;
	height:auto;
	max-width:100%;
	line-height:1.428571429;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:4px;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin-bottom: 2%;
}
.img-circle {
	border-radius:50%
}

.row-fp .img-drolled {
	width: 175px;
	height: 175px
}

.row-fp .img-profile {
}

.row-fp .img-vote {
	width: 75px;
	height:75px
}

.well img {
	width: 100%;
	height: auto;
}

.imgholder img {
	max-width: 560px;
	max-height: 300px;
}

.imgholder {
	float: right;
	padding-top: 20px;
}

.imgWrap { /* For Span*/
	display: inline-block;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-o-transition: 0.2s all
}

.imgWrap:hover {
	-webkit-filter: brightness(20%);
	-o-filter: brightness(20%);
	-moz-filter: brightness(20%)
}


/* Forms*/
.search { /* Search bar */
	display:block;
	width:115%;
	height:20%;
	padding:1.5% 4%;
	font-size:12px;
	font-family:'Arvo';
	line-height:1.428571429;
	color:#555;
	vertical-align:middle;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:15px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.navbar-form {
	margin-top:8px;
	margin-right:-15px;
	margin-bottom:8px;
	margin-left:-15px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
	
}
.btn-head {
	display:inline-block;
	margin-bottom:0;
	margin-left:10%;
	font-size:14px;
	font-weight:normal;
	line-height:1.428571429;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid transparent;
	border-radius:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}

/* list */
.list-group-item {
	font-size: 15px;
	padding: 5px;
	text-align: center;
}

.list-group-item:hover {
	background-color: #ccc;
}

.list-group-item:active {
	background-color: #FD6449;
}

#clicked {
	background-color: #FD6449;
}

.menu-list {
	list-style-type: none;
}

.menu-list-item {
	padding: 13px;
	padding-left: 0px;
}

/* Dropdown */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}


/* Tables */
.r-info {
	font-size: 11px;
	display: inline-block;
}

.right-info {
	float: right;
	font-size: 11px;
}

/* Text/Button */ 
.author {
	font-size: 11px;
	padding-left: 15px;
}

.author,
.review-title {
	display: inline-block;
}

.btn-default {
	margin-bottom: 20px;
	border-radius: 0px;
}

.btn-warning {

}

#fact-box {
	width: 91%;
}

#fact-box p {
	padding: 40px 0px 20px 0px;
}

.fp-submitbox {
	width: 90%;
	height: 250px;
}

.ibox {
	margin-top: 20px;
}

.ibox input {
	margin-left: 40px;
}

.ing-list {
	width: 44%;
	padding-right: 70px;
	border-right: 1px solid #ccc;
	display: inline-block;
}

.ing-list li,
.ing-steps li {
	padding: 10px 20px 10px 0px;
	border-bottom: 1px solid #ccc;
}

.ing-list h4 {
	margin-top: 50px;
}

.ing-steps {
	float: right;
	padding-top: 35px;
	width: 52%;
}

.imgholder .r-2lvl-description {
	position:relative;
	bottom:100px;
	left:5px;
	visibility:hidden;
	color: white;
}

.imgholder:hover .r-2lvl-description {
	visibility: visible;
}

.ing {
	list-style-type: none;
}

.ingredient-box {
	border-top: 2px solid #ccc;
	margin: 40px 0px 0px 0px;
	width: 95%;
	padding-top: 40px;
}

.input-group {
	max-width: 300px;
}

/*.imgholder:hover img {
	background-color: #000;
	opacity: 0.5;
}*/

#fp-title {
	width: 230px;
	margin-bottom: 20px;
}

.r-2lvl-description {
	font-size: 14px;
}

.restaurant-description {
	font-size: 15px;
	line-height: 16px;
	padding-top: 20px;
}

.recipe-description p{
	font-size: 15px;
	padding-top: 26px
}
.ingredient-description {
	font-size: 15px;
	padding-top: 4px;
}
.ingredient-description .well{
	font-size: 15px;
	padding-top: 2px;
	padding-left: 8px;
}
.ingredient-description .menu-list{
	font-size: 15px;
	line-height: .75px;
	list-style-type: lower-roman;
	padding-left: 33px
}
.recipe-notes p{
	font-size: 13px;
	line-height: 6.5px
}
.instruction {
	padding: 5px;
}
.instruction .size{
	height: 200px;
	padding: 0px;
}
.instruction .step{
	text-align: right;
	vertical-align: middle;
	line-height: 200px;
	margin: 0px;
	padding-right: 7px
}
.instruction .img{
	width: 200px;
	height: 200px;
}
.instruction #details{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	font-size: 13px;
	height: 200px;
	padding-left: 2px
}


.review {
	border-bottom: 1px solid #ccc;
	padding: 20px 0px;
}

.review-detail {
	font-size: 13px;
}

#left-button {
	float: left;
}

#right-button {
	float: right;
}

.btn-default {
	width: 180px;
}


.btn-warning {
	width: 290px;
	margin: 0px 2px;
}

.manifest {
	text-align: center;
	margin: 75px 0px 150px 45%;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 100px;
}

.pic-btn {
	width: 230px;
	display: inline-block;
}

.r-submitbox {
	width: 90%;
	height: 150px
}

.recipe-item {
	list-style-type: none;
	padding-bottom: 30px;
}

#fact-box input {
	padding-right: 20px;
}

.submit-intro {
	margin: 30px 0px 50px 28%;
}

.submit-left {
	float: left;
	margin: 100px 0px 0px 0px;
	border-right: 2px solid #ccc;
	width: 375px;
}

.submit-left h3 {
	margin-top: 0px;
}

.submit-left h6 {
	display: inline-block;
}

.submit-right {
	padding: 100px 0px 0px 490px;
}

.submit-container {
	margin-left: 55px;
	width: 90%;
}

#tagbox {
	width: 230px;
}

#tag-title {
	margin-top: 120px;
}

#tag-recipe {
	margin-top: 60px;
}

.time-box {
	max-width: 30px;
}

#userbox {
	width: 230px;
}

.row-fp h3 {
	font-size: 24px
}

.row-fp p{
	font-size: 14px

}